<% provide :title, "Login" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_for(:session, html: { class: "border border-light p-5" })do |f| %>
        <p class="h3 mb-4 text-center">LOGIN</p>
        <div data-mdb-input-init class="form-outline mb-4">
          <%= f.email_field :email, for:"form2Example1", class: "form-control" %>
          <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <div data-mdb-input-init class="form-outline mb-4">
          <%= f.password_field :password, for:"form2Example1", class: "form-control" %>
          <label class="form-label" for="form2Example2">Password</label>
        </div>

        <div class="row mb-4">
          <div class="col d-flex justify-content-center align-items-center">
            <div class="form-check">
              <%= f.check_box :remember_me, for:"form2Example31", class: "form-check-input" %>
              <!-- <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked /> -->
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>

          <div class="col d-flex justify-content-center align-items-center">
            <%= link_to "Forgot password?", "#", class: "text-decoration-none" %>
          </div>
        </div>

        <%= f.submit "Log in", data: { mdb_button_init: true, mdb_ripple_init: true }, class: "btn btn-primary btn-block mb-4" %>
        <% end %>

        <div class="text-center">
          <p>Not a member? <%= link_to "Register", "/signup", class: "text-decoration-none" %></p>
        </div>
    </div>
  </div>
</div>
