<% provide :title, "Sign Up" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <!-- Name input -->
        <%= form_for(@user, html: { class: "border border-light p-5" })do |f| %>
        <p class="h3 mb-4 text-center">CREATE AN ACCOUNT</p>
        <%= render "shared/error_messages", object: f.object %>
        <div data-mdb-input-init class="form-outline mb-4">
          <%= f.text_field :name, for:"form2Example1", class: "form-control" %>
          <label class="form-label" for="form2Example1">Your name</label>
        </div>
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <%= f.email_field :email, for:"form2Example1", class: "form-control" %>
          <label class="form-label" for="form2Example1">Email address</label>
        </div>
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <%= f.password_field :password, for:"form2Example1", class: "form-control" %>
          <label class="form-label" for="form2Example2">Password</label>
        </div>
        <!-- Password Confirm input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <%= f.password_field :password_confirmation, for:"form2Example1", class: "form-control" %>
          <label class="form-label" for="form2Example2">Password Confirm</label>
        </div>
        <%= f.submit "Sign up", data: { mdb_button_init: true, mdb_ripple_init: true }, class: "btn btn-primary btn-block mb-4" %>
        <% end %>
        <!-- Register buttons -->
        <div class="text-center">
          <p>Have already an account? <%= link_to "Login here", "/login", class: "text-decoration-none" %></p>
        </div>
    </div>
  </div>
</div>
