<header>
  <div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-2 col-sm-4 col-4">
					<%= link_to(root_path, class: "float-start") do %>
						<%= image_tag("https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png", height: 35) %>
					<% end %>
        </div>

        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="d-flex float-end">
            <% if logged_in? %>
  						<%= link_to(logout_path, class: "me-1 border rounded py-1 px-3 nav-link d-flex align-items-center") do %>
  							<i class="fas fa-user-alt m-1 me-md-2"></i>
  							<p class="d-none d-md-block mb-0">Log out</p>
  						<% end %>
            <% else %>
              <%= link_to(login_path, class: "me-1 border rounded py-1 px-3 nav-link d-flex align-items-center") do %>
                <i class="fas fa-user-alt m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">Log in</p>
              <% end %>
            <% end %>
            <%= link_to("/cart", class: "border rounded py-1 px-3 nav-link d-flex align-items-center") do %>
							<i class="fas fa-shopping-cart m-1 me-md-2"></i>
							<p class="d-none d-md-block mb-0">My cart</p>
						<% end %>
          </div>
        </div>

        <div class="col-lg-5 col-md-12 col-12">
          <div class="input-group float-center">
            <div class="form-outline">
              <input type="search" id="form1" class="form-control" />
              <label class="form-label" for="form1">Search</label>
            </div>
            <button type="button" class="btn btn-primary shadow-0">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
<section class="top-txt">
  <div class="head container">
    <div class="head-txt">
      <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
    <div class="sign_in_up">
      <a href="/login">SIGN IN</a>
      <a href="/signup">SIGN UP</a>
    </div>
  </div>
</section>
<section id="header">
  <a href="#"><img src="https://i.postimg.cc/x8ncvFjr/logo.png"></a>
  <div>
    <ul id="navbar">
      <li><a href="index.html" class="active">Home</a></li>
      <li><a href="/product">Shop</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="cart.html" id="lg-bag"><i class="fal fa-shopping-bag"></i></a>
        <span class="quantity">0</span>
      </li>
      <li><a href="#" id="close"<i class="far fa-times"></i></a></li>
    </ul>
  </div>
  <div id="mobile">
    <a href="cart.html" ><i class="fal fa-shopping-bag"></i>
      <span class="quantity">0</span>
    </a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</section>
